.frombcn{
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    position: absolute;
    bottom: 4.8rem;
    right: 1.2rem;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}
