.navigation{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    margin: 0;
    left: 0;
    width: 100%;
    @include mediaMobile{
        color: white;
    }
}

.nolist{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 1.2rem;
}
